    body {
        width: 70%;
        font-family: sans-serif;
        padding-right: 15%;
        padding-left: 15%;
        margin: 0px auto;
    }


    h1 {
        font-size: 32px;
    }

    figure {
        float: right;
    }
    figcaption {
        font-style: italic;
    }

    table {
        border-collapse: collapse;
        border: 1px solid black;
    }

    th {
        text-align: left;
        border: 1px solid black;
        background-color: gainsboro;
    }

    td {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }