    body {
        width: 70%;
        font-family: sans-serif;
        padding-right: 15%;
        padding-left: 15%;
    }


    h1 {
        font-size: 32px;
    }

    figcaption {
        font-style: italic;
    }